/* Set a background color or background image for the body */


:root {
    /* Colors */
    --white: #ffffff;
    --blue-strong: #021963;
    --color-text: #0000002c;
    --color-p: #000000;
    --contact: rgb(0, 98, 255);
    
  }


body {
    background-color: #ffffff;
    /* Change to your desired background color */
    /* Use background-image:url('your-image-url.jpg'); for a background image */
    background-size: cover;
    background-position: center;
    /* Ensure the body covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    height: 100vh;
    /* Optional: Make the container full viewport height */
    width: 100%;
    flex-direction: column;
}
